@import url('https://fonts.googleapis.com/css?family=Roboto');
.bg {
    background: url('background.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: #93CEEE;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    padding-top: 60px;
}

.justify-content-center{
    padding: 0;
    width: 100%;
    margin: 10px;
    display: flex;
}

.form-check-input[type=checkbox]{
    margin: 4px -12px;
}

.header {
    background-color: #93CEEE;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.signup,
.signin {
    width: 50%;
    float: left;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
}

.signup-form,
.signin-form {
    box-sizing: border-box;
    padding: 19px 40px 35px;
    clear: both;
    width: 100%;
}

label,
.form-check-label,
h1 {
    color: white;
    text-shadow: 2px 2px 10px #000;
}

.emailError,
.passwordError {
    color: red;
    background-color: blanchedalmond;
    padding-left: 10px;
    border-radius: 4px;
    margin-top: 1px;
}

span a {
    text-decoration: none;
    color: #000;
}

.row-container {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 30px;
    -webkit-box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
}

.form-check-label{
    padding: 8px 5px 5px;
}

.label{
    padding: 0;
    font-size: 100%;
}