#show {
	margin-top: 80px;
  padding: 15px 10px 10px;
  border: 1px thick #000;
  border-radius: 3px;
  font-family: sans-serif;
}
input,
textarea {
  border-radius: 6px;
  height: 30px;
  padding: 5px 5px 5px 5px;
  margin: 3px 0px 3px 0px;

  box-shadow: 0 0 0 0px;
  outline: none !important;
}
input:focus,
textarea:focus {
  border-radius: 6px;
  height: 30px;
  padding: 5px 5px 5px 5px;
  margin: 3px 0px 3px 0px;

  box-shadow: 0 0 0 0px;
  outline: none !important;
  border: 3px solid #878bd5;
}
#status-textarea {
  margin-top: 8px;
  width: 99% !important;
}
input::placeholder,
textarea::placeholder {
  -webkit-text-fill-color: initial;
  padding: 0px 0px 0px 0px;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  padding: 0px 0px 0px 0px;
  -webkit-text-fill-color: initial;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  padding: 0px 0px 0px 0px;
  -webkit-text-fill-color: initial;
}

textarea{
  padding: 0 0 0 20px;
}